extends layout

block content
    .container-fluid
        #vmiddle.row
            .col-md-3.col-sm-12.col-xs-12
                h1 Black Bitcoiners
                p Justice in the New Economy

                a(href='//facebook.com/blackbitcoiners')
                                button.arrow facebook >
                a(href='//twitter.com/blackbitcoiners')
                                button.arrow twitter >
                a(href='//github.com/blackbitcoiners')
                                button.arrow github >

            .col-md-8.whitebox.col-sm-12.col-xs-12
                h1 Awesome!