extends layout

block content
    .container-fluid
        #vmiddle.row
            .col-lg-3.col-md-3.col-sm-12.col-xs-12
                h1
                    strong Black Bitcoiners
                p Justice in the New Economy

                a(href='//facebook.com/blackbitcoiners')
                                button.arrow facebook >
                a(href='//twitter.com/blackbitcoiners')
                                button.arrow twitter >
                a(href='//github.com/blackbitcoiners')
                                button.arrow github >

            .col-lg-8.col-md-8.whitebox.col-sm-12.col-xs-12
                .col-md-12    
                    h1.text-center Want to learn more?

                .col-md-12
                    form(action='submitemail' method='post')
                        input#learnmoreemail(type='text', placeholder='Your Email Address' name='email') 
                         
                        input#learnmoresubmit(type='submit', value='Submit')
