doctype html
html
  head
    title Black Bitcoiners
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
    

  body
    block content